{# src/UserBundle/Resources/views/Registration/register_content.html.twig #}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register form-horizontal'}}) }}

	<div class="form-group">
		{{ form_label(form.email, "Email", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
		{{ form_errors(form.email) }}
		<div class="col-md-9">
			{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
		</div>
	</div>

	<div class="form-group">
		{{ form_label(form.username, "Identifiant", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
		{{ form_errors(form.username) }}
		<div class="col-md-9">
			{{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
		</div>
	</div>

	<div class="form-group">
		{{ form_label(form.plainPassword.first, "Mot de passe", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
		{{ form_errors(form.plainPassword.first) }}
		<div class="col-md-9">
			{{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
		</div>
	</div>

	<div class="form-group">
		{{ form_label(form.plainPassword.second, "Repeat Password", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
		{{ form_errors(form.plainPassword.second) }}
		<div class="col-md-9">
			{{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-12">
			<input type="submit" class="btn btn-primary pull-right" value="Enregistrer" />
		</div>
	</div>

	{{ form_rest(form) }}

{{ form_end(form) }}
