
{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit form-horizontal'} }) }}
<div class="col-md-8 col-md-offset-2">
	{{ form_errors(form) }}

	<div class="form-group">
		{{ form_label(form.username, "Identifiant", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
		{{ form_errors(form.username) }}
		<div class="col-md-9">
			{{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
			<p class="help-block">{{ form_errors(form.username) }}</p>
		</div>
	</div>

	<div class="form-group">
		{{ form_label(form.current_password, "Curent Password", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
		<div class="col-md-9">
			{{ form_widget(form.current_password, {'attr': {'class': 'form-control'}}) }}
			<p class="help-block">{{ form_errors(form.current_password) }}</p>
		</div>

	</div>

	<div class="form-group">
		{{ form_label(form.email, "Email", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
		{{ form_errors(form.email) }}
		<div class="col-md-9">
			{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-12">
			<input type="submit" class="btn btn-primary pull-right" value="Enregistrer" />
		</div>
	</div>
</div>

{{ form_end(form) }}
